body{
    background:url(../images/fondo1.png)fixed repeat center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
h3{
    font-family: calibri;
    font-size: 30px;
    padding: 10px;
    color: whitesmoke;
    font-family: calibri light;
}
#formlogin{
    color: red;
    margin-top: 50px;
    padding: 20px 10px;
    background:rgba(192,192,192,0.2);
}